<header>

  <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>

  <div id="menu-bar" class="fas fa-bars" (click)="fnMenu()"></div>

  <nav class="navbar {{cAtivo}}">
      <a href="#home" (click)="fecharMenu()">Home</a>
      <a href="#speciality" (click)="fecharMenu()">Especialidades</a>
      <a href="#popular" (click)="fecharMenu()">Popular</a>
      <a href="#gallery" (click)="fecharMenu()">Galeria</a>
      <a href="#review" (click)="fecharMenu()">Avaliações</a>
      <a href="#order" (click)="fecharMenu()">Pedido</a>
  </nav>

</header>
