<section class="popular" id="popular">

  <h1 class="heading"> Alimentos Mais <span>Populares</span> </h1>

  <div class="box-container">

      <div class="box">
          <span class="price"> R$5 - R$20 </span>
          <img src="../assets/imagens/p-1.jpg" alt="">
          <h3>Hambúrguer</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">Peça Agora</a>
      </div>
      <div class="box">
          <span class="price"> R$5 - R$20 </span>
          <img src="../assets/imagens/p-2.jpg" alt="">
          <h3>Bolos</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">Peça Agora</a>
      </div>
      <div class="box">
          <span class="price"> R$5 - R$20 </span>
          <img src="../assets/imagens/p-3.jpg" alt="">
          <h3>Doces</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">Peça Agora</a>
      </div>
      <div class="box">
          <span class="price"> R$5 - R$20 </span>
          <img src="../assets/imagens/p-4.jpg" alt="">
          <h3>Cupcakes</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">Peça Agora</a>
      </div>
      <div class="box">
          <span class="price"> R$5 - R$20 </span>
          <img src="../assets/imagens/p-5.jpg" alt="">
          <h3>Sucos</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">Peça Agora</a>
      </div>
      <div class="box">
          <span class="price"> R$5 - R$20 </span>
          <img src="../assets/imagens/p-6.jpg" alt="">
          <h3>Sorvetes</h3>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <a href="#" class="btn">Peça Agora</a>
      </div>

  </div>

</section>
