<section class="gallery" id="gallery">

  <h1 class="heading"> Nossa <span> Galeria </span> </h1>

  <div class="box-container">

      <div class="box">
          <img src="../assets/imagens/g-1.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-2.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-3.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-4.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-5.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-6.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-7.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-8.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>
      <div class="box">
          <img src="../assets/imagens/g-9.jpg" alt="">
          <div class="content">
              <h3>comida saborosa</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
              <a href="#" class="btn">Peça Agora</a>
          </div>
      </div>

  </div>

</section>
