<div class="step-container">

  <h1 class="heading">Como <span>Funciona</span></h1>

  <section class="steps">

      <div class="box">
          <img src="../assets/imagens/step-1.jpg" alt="">
          <h3>Escolha sua comida favorita</h3>
      </div>
      <div class="box">
          <img src="../assets/imagens/step-2.jpg" alt="">
          <h3>Entrega rápida e grátis</h3>
      </div>
      <div class="box">
          <img src="../assets/imagens/step-3.jpg" alt="">
          <h3>Métodos de pagamento fáceis</h3>
      </div>
      <div class="box">
          <img src="../assets/imagens/step-4.jpg" alt="">
          <h3>e finalmente, aproveite sua comida</h3>
      </div>

  </section>

</div>
