<section class="speciality" id="speciality">

  <h1 class="heading"> Nossa <span>Especialidades</span> </h1>

  <div class="box-container">

      <div class="box">
          <img class="image" src="../assets/imagens/s-img-1.jpg" alt="">
          <div class="content">
              <img src="../assets/imagens/s-1.png" alt="">
              <h3>Hambúrguer Saboroso</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../assets/imagens/s-img-2.jpg" alt="">
          <div class="content">
              <img src="../assets/imagens/s-2.png" alt="">
              <h3>Pizza Saborosa</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../assets/imagens/s-img-3.jpg" alt="">
          <div class="content">
              <img src="../assets/imagens/s-3.png" alt="">
              <h3>Sorvete</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../assets/imagens/s-img-4.jpg" alt="">
          <div class="content">
              <img src="../assets/imagens/s-4.png" alt="">
              <h3>Bebidas</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../assets/imagens/s-img-5.jpg" alt="">
          <div class="content">
              <img src="../assets/imagens/s-5.png" alt="">
              <h3>Sobremesas</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
          </div>
      </div>
      <div class="box">
          <img class="image" src="../assets/imagens/s-img-6.jpg" alt="">
          <div class="content">
              <img src="../assets/imagens/s-6.png" alt="">
              <h3>Café</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
          </div>
      </div>

  </div>

</section>
